body {
    background-image: linear-gradient(to bottom right, black, rgb(0, 0, 20), rgb(0, 0, 40));
}
h1 {
    font-size: 34px;
    font-weight: bolder;
    font-family: arial;
    text-align: center;
    border: 1px solid #CCC;
    color: #CCC;
    padding: 20px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 1px solid #CCC;
    padding: 10px;
}
div {
    color: #CCC;
    font-family: arial;
    text-align: justify;
    font-size: 24px;
}
p {
    border: 1px solid #CCC;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 58%;
    padding: 20px;
}
#container {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 800px){
     #imageSideBySide {
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 60%;
         border: 1px solid #CCC;
         padding: 10px;
    }
}
@media (min-width: 799px) {
    #imageSideBySide {
        display: block;
        margin-left: 20px;
        width: 40%;
    }
    #textSideBySide {
        border: 1px solid #CCC;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 40%;
        padding: 20px;
    }
}
#newContainer {
    display: flex;
    flex-wrap: wrap;
}
b > button {
    width: 500px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}
.links {
    display: block;
    align-self: center;
    font-family: arial;
}
v {
    color: #CCC;   
}
#Instagram {
    background: linear-gradient(to right, purple, yellow, rgb(197, 27. 112));
}





/* (to top left, purple, to bottom left, yellow,
    to top right, rgb(197, 27, 112), to bottom right rgb(197, 27. 112)) */